@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.Container {
    display: flex;
}

.mainContentContainer {
    min-height: 100vh;
    margin-left: 250px;
    width: calc(100% - 250px);
    background: rgb(218, 210, 210);
}

.sidebarHeader {
    padding: 10px;
    text-align: center
}

.error_message {
    color: #d9534f;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.errorScreenContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.errorScreenContainer .errorMessage {
    color: #fff;
    font-weight: bold;
}